@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    text-align: center;
}
.container{
    width: 100vw;
    height: 100vh;
    /* background-color: #132577; */
    background-image: url(./banner\ background.png);
    position: relative;
}

.bg-box{
    background-color: #FFFFFF;
    opacity: 10%;
    border-radius: 30px;
    position: absolute;
    overflow:hidden;

    
}
.bg-b-1{
    height:60%;
    width: 20%;
    rotate: -45deg;
    top: -30%;
    left: 15%;
}
.bg-b-2{
    height: 60%;
    width: 30%;
    rotate: -45deg;
    bottom: -30%;
    left: -10%;
}
.bg-b-3{
    height: 90%;
    width: 35%;
    rotate: 45deg;
    right: -15%;
    top: 10%;
}
.navbar{
    display: flex;
    flex-direction:row ;
    align-items: center;
    justify-content: end;
    padding-right: 4%;
    padding-top: 5%;
}

.btn{
    position: relative;
    background-color: transparent;
    border: none;
    color:white;
    padding: 15px 15px 7px 10px;
    border-radius: 2px;
    /* width: 7%; */
    /* transition:all 5s ease; */
}
.btn-bg{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    background-color: transparent;
    z-index: 0;
    transition: all .5s ease-in-out;
}
.btn span{
    font-size: 1rem;
    background-color: transparent;
    text-transform: capitalize;
}

.hr{
    border-bottom: 2px solid white;
    width: 0%;
    margin: 0% auto;
}

/* .btn:hover{
    color: black;
} */
.btn:hover .btn-bg{
    background-color: rgba(255, 255, 255, 0.064);
}
.btn:hover .hr{
    animation: hr-ani .3s ease-in-out ;
    width: 100%;
}
@keyframes hr-ani{
    0%{width: 0%;}
    25%{width: 25%;}
    50%{width: 50%;}
    100%{width: 100%;}
}


.intro{
    color: white;
    width: 35%;
    position: absolute;
    bottom: 30%;
    left: 10%;
    text-align: left;
}
.intro h2{
    font-size: 2rem;
}
 .intro h2,p{
    margin-bottom: 4%;
 }
 
.container>img{
    max-width: 35%;
    position: absolute;
    right: 10%;
    bottom: 10%;
}

.explore-more-btn{
   padding: 1% 2%;
   border-radius: 20px;
   border:none;
   overflow:hidden;
   position: relative;  
   box-shadow: inset 0 0 5px black, 2px 4px 5px black;
   
}

.explore p{
    font-size: 1.4rem;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    -webkit-text-stroke: .01rem black;
    color: transparent;
}
.explore{
    background-color: #192655;
    -webkit-background-clip: text;
    background-clip: text;
    width: 0%;
    text-wrap: nowrap;
    transition: all .4s ease-in-out;
}
.explore-more-btn:hover .explore{
    width: 100%;
}
.explore-more-btn:hover{
    scale: 1.02;
    transition: all .3s ease;
}